h1, h2 {
  text-align: center;
  color: rgb(129, 62, 62);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}