h1, h2, h4 {
  text-align: center;
  color: rgb(129, 62, 62);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

#nameid {
  text-align: center;
}

h4 {
  display: none;
}

#name {
  display: none;
}
