h1, h2, h4 {
  text-align: center;
  color: rgb(129, 62, 62);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

#name0form {
  text-align: center;
}

.showAsk {
  display: none;
}

.form-control {
  text-align: center;
  color: blue;
}

.clickable {
  cursor: pointer;
  color: rgb(29, 145, 6);
} 

.clickable:hover {
  text-decoration: underline;
}